<div class="container">
  <h1>Gerenciamento de Usuários</h1>

  <button mat-raised-button color="primary" (click)="openForm()">
    <mat-icon>add</mat-icon>
    Novo Usuário
  </button>

  <mat-table [dataSource]="usuarios" class="mat-elevation-z8" *ngIf="usuarios.length > 0; else noData">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.status === 0 ? 'ATIVO' : 'INATIVO' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" aria-label="Editar usuário" (click)="openForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Deletar usuário" (click)="deleteUsuario(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <ng-template #noData>
    <p class="no-data-message">Nenhum usuário encontrado.</p>
  </ng-template>
</div>
